@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@500&family=Lato:wght@900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@800&display=swap');



*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body {
  padding : 10px;
  background-size: contain;
  background-image: url("zf.jpeg");
  
}
blockquote{
  font-size: 1.4em;
  width:60%;
  height: 200px;
  margin:50px auto;
  margin-bottom: 90px;
  margin-top: 70px;
  font-family:Open Sans;
  font-style:italic;
  font-weight: bold;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #ff07ff ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#ff07ff;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
  transition: transform .5s ease;
}

blockquote::after{
  content: '';
}
blockquote:hover{
transform: scale(1.1);
 box-shadow: 1px 1px 0px #999,
                2px 2px 0px #999,
                3px 3px 0px #999,
                4px 4px 0px #999,
                5px 5px 0px #999,
                6px 6px 0px #999;
}
blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}


#exTab1{
	/*border:1px solid white;*/
	position: relative;
	width: 80%;
	padding:0;
	margin-bottom: 40px;
}

.exTab1::before{
  content: '';
  position: absolute;
  left: -3px;
  top: -3px;
  background: linear-gradient(45deg, #e8f74d, #ff6600d9, #00ff66, #13ff13, #6512b9, #ff3300de, #5aabde);
  background-size: 400%;
  width: calc(100% + 7px);
  height: calc(100% + 7px);
  z-index: -1;
  animation: glower 20s linear infinite;
}

@keyframes glower {
  0% {
    background-position: 0 0;
  }
  
  50% {
    background-position: 400% 0;
  }
  
  100% {
    background-position: 0 0;
  }
}

#exTab1 .tab-content {
  color : white;
  background-color: #ff07ff;
  padding : 5px 15px;
  font-family: 'Fraunces', serif;
  font-size: 20px;
  padding: 20px;
  word-spacing: 6px;
  line-height: 50px;
}



/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
	display: inline-block;
	font-size: 20px;
  	border-radius:0; 
  	width: 100%;
  	font-family: 'Lato', sans-serif;
}

.nav-pills > li{
	display:inline-block;
}
.nav-pills > li > span{
	display: inline-block;
	color:white;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:white;
    background-color: #ff07ff;
  }

ul{
	list-style: none;
}
.red{
	background-color:#08101d;
	font-family: 'Catamaran', sans-serif;
}
.block {
	position: relative;
	margin: 300px auto 0;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 60px;
	width: 40%;
	text-align: center;
	padding: 15px;
	font-weight: bold;
	background: linear-gradient(0deg, #000, #272727);
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 40px;
}

.block:before, .block:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.block:after {
	filter: blur(50px);
}
@media only screen and (max-width: 600px)
{
  body{
    background-size: 600px 600px;
  }
  .block{
    width:80%;
    font-size: 25px;
  }
  blockquote{
    overflow:auto;
    width:70%;
    height:300px;
  }
}
